http://localhost {
    tls off
    proxy / ui.webapp:3000 {
        websocket
        transparent
    }
}

http://localhost/api {
    tls off
    proxy / app.webapp:5000 {
        transparent
    }
}
